@{
  Layout = "_Layout";
}

<h1>Welcome to the To Do List!</h1>
@* <p>@Html.ActionLink("See all categories", "Index", "Categories")</p> *@
<p>@Html.ActionLink("See all items", "Index", "Items")</p> 
@* replaces anchor tags *@

@* 1st parameter)  display text for link, 2nd parameter) target action in the controlller,  *@
@* 3rd parameter)  name of controller without controller appended on it  *@